@charset "UTF-8";

/* fallback */
@font-face {
  font-weight: 400;
  font-family: 'Material Icons';
  font-style: normal;
  src: url('./material-icons.woff2') format('woff2');
}

.title {
  margin: 0 0 20px !important;
  padding-bottom: 10px !important;
  border-bottom: 1px solid #eee !important;
}

.form {
  margin-top: 30px !important;
}

.mr {
  margin-left: 10px !important;
}

:global .material-icons {
  display: inline-block;
  font-weight: normal;
  font-size: 24px;
  /* stylelint-disable-next-line */
  font-family: 'Material Icons';
  font-style: normal;
  line-height: 1;
  direction: ltr;
  letter-spacing: normal;
  white-space: nowrap;
  text-transform: none;
  word-wrap: normal;
  -webkit-font-smoothing: antialiased;
}

.markdown-editor /deep/ {
  /* 代码块高亮 */
  pre {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #383a42;
    background: #efefef;
  }
  /* 表格样式优化 https://www.imydl.tech/ty/70.html */
  table {
    width: 100%;
    max-width: 65em;
    border: 1px solid #dedede;
    margin: 15px 0;
    border-collapse: collapse; /*使用单一线条的边框*/
    empty-cells: show; /*单元格无内容依旧绘制边框*/
  }
  table th,
  table td {
    height: 35px;
    border: 1px solid #dedede;
    padding: 0 10px;
  }
  table th {
    font-weight: bold;
    text-align: center !important;
    background: rgba(158, 188, 226, 0.2);
  }
  table tbody tr:nth-child(2n) {
    background: rgba(158, 188, 226, 0.12);
  }
  table tr:hover {
    background: #efefef;
  }
  table th {
    white-space: nowrap; /*表头内容强制在一行显示*/
  }
}
