@charset "UTF-8";

/* fallback */
@font-face {
  font-weight: 400;
  font-family: 'Material Icons';
  font-style: normal;
  src: url('./material-icons.woff2') format('woff2');
}

.title {
  margin: 0 0 20px !important;
  padding-bottom: 10px !important;
  border-bottom: 1px solid #eee !important;
}

.form {
  margin-top: 30px !important;
}

.mr {
  margin-left: 10px !important;
}

:global .material-icons {
  display: inline-block;
  font-weight: normal;
  font-size: 24px;
  /* stylelint-disable-next-line */
  font-family: 'Material Icons';
  font-style: normal;
  line-height: 1;
  direction: ltr;
  letter-spacing: normal;
  white-space: nowrap;
  text-transform: none;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.show-html{
  padding:10px;
  border:1px solid #ddd;
  border-radius: 5px;
  font-size:16px;
  height: 745px;
  background-color: #f0f0f0;
  overflow: auto;
}

:global .show-html h1{
  font-size:30px;
}

:global .show-html h2{
  font-size:28px;
  border-bottom: 1px solid #cbcbcb;
}
:global .show-html h3{
  font-size:24px;
}

:global .show-html pre{
  display: block;
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 5px;
}
:global .show-html pre>code{
  color: #000;
  background-color: #f0f0f0;
}
:global .show-html code {
  background-color: #fff5f5;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0px 3px;
  color: #ff502c;
}
:global .show-html blockquote{
  border-left:4px solid #cbcbcb ;
  padding: 10px 10px 10px 30px;
  background-color: #f8f8f8;
}
