.contentText {
  padding: 5px 0 15px !important;
}

.w {
  width: 640px !important;
}

.text-truncate-mutiple-2 {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
